version: "3.8"

services:

  # Servicio 1: El Frontend (nuestra API principal)
  frontend-api:
    build: ./frontend-api  # Construye desde la carpeta ./frontend-api
    ports:
      - "5000:5000"      # Expone el puerto 5000 a tu máquina local
    depends_on:          # Espera a que los otros se inicien primero
      - backend-data
      - db-cache

  # Servicio 2: El Backend (API interna)
  backend-data:
    build: ./backend-data  # Construye desde la carpeta ./backend-data
    # No necesita 'ports' porque solo el 'frontend-api' habla con él

  # Servicio 3: La Base de Datos (Caché)
  db-cache:
    image: redis:alpine    # Usa una imagen pública de Redis (no necesita build)